*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  font-size: 2rem;
  background-color: #131516;
}
.title {
  color: rgb(194, 228, 255);
  text-align: center;
}

.game-board {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.game-board__row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.letter--correct {
  background-color: #43a047;
}
.letter--incorrect {
  background-color: #585f63;
}
.letter--present {
  background-color: #e4a81d;
}

.input {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  outline: none;
  color: rgb(200, 195, 188);
}
.error-message {
  color: rgb(243, 201, 125);
  text-align: center;
}
